
.invalid{
  border: 1px solid #f5365c;
  border-top-right-radius:  5px ;
  border-top-left-radius:  7px ;
  border-bottom-right-radius:  5px ;
  border-bottom-left-radius:  7px ;
}

.boutton{
  background-color: #3A3A3A;
  color: #91D333;
  border: #91D333;
}
/* .input-group{


} */
.titre{
  text-align: center;
  justify-content: center;
  color: #f8f9fe;

}

/* .btn-btn-default{
  color: #172b4d;
} */
.general{
  width: 100%;
  height: 818px;
  background-color:#172b4d;
  display: flex;

}

.global{
  width: 100%;
  height: 100%;
  background-color:#91D333;
  padding: 0%;


}

.image{
 height: 51%;
}
.carte{
  margin-top: 3%;
  height: 45%;
 }
.img{
  height: 100%;
  width: 100%;
}
.titre{
  background-color: #3A3A3A;
  margin-bottom: 0;

  width: 100%;
}
.V{
 background-color:#3A3A3A;
  height:100%;
  width: 50%;


}
.corps{
  background-color: #91D333;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  justify-items: center;

}
/* .groupe{


  position: relative;
} */
/* .fill{
  color:#172b4d;
} */
.change{
  display: flex;

  justify-content: center;
  align-items: center;
}

.connexion{
  display: flex;
  justify-content: center;

width: 76%;
margin-top: 20%;


}

.format{
  background-color: #91D333;
}
.form-control{
  background-color: #f8f9fe;
}

.separator-bottom{
  background-color:#172b4d;

}
.d{
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);

}
.separator{
  background-color:#172b4d;

}
.bd{
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #f8f9fc;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  border-right-width:0px ;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;

}
.db{
  border-left-width:0px ;
}

