.navbar {
    border-width: 0 0 1px 0;
    border-style: solid;
    background-color: #3A3A3A ;
    height: 100px;
  }

  .e {margin: 10px;
    outline: none;
    padding: 0.5rem 0.5rem;
    font-size: 18px;
  box-shadow: #91D333;

      color: #050505;
      text-transform: uppercase;
  width: 90%;
  height: 10%;
        cursor: pointer;
        transition: all 0.2s;
        overflow: hidden;
        border-radius: 10px;  }

        .e:hover  { border: 1px solid #91D333;
          color: #fff;
          background-color: #91D333;
          fill: #fff;
          box-shadow: 2 0 10px #91D333;
          transition-delay: 0.3s;
          text-transform: uppercase;
            .j{
              fill: #fff;
            }
        }


//popup

.ok{
  box-shadow: 5px 5px 5px black;
  background-color: #91D333;
}

.bordure{
  border: none;
}
.boutton{
  background-color: #3A3A3A;
  color: #91D333;
  border: #91D333;
}








